html,body{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
body{
    background: #363940;
}
.container{
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
}
.header{
    width: 100%;
    height: 100px;
    display: flex;
    background: rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}
.title{
    font-family: ARIAL;
    font-size: 50px;
    color: #fff;
}
.main{
    width: 100%;
    display: flex;
}
.sidebar{
    width: 30%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    padding: 20px 10px;
    position: sticky;
    top: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
li{
    list-style: none;
}
.res-list{
    color: #fff;
    font-family: ARIAL;
    overflow-y: auto;
    max-height: 800px;
    padding-right: 5px;
}
.res-list::-webkit-scrollbar{
    width: 8px;
}
.res-list::-webkit-scrollbar-track{
    background: rgba(0,0,0,0.1);
}
.res-list::-webkit-scrollbar-thumb{
    background: rgba(0,0,0,0.3);
}
.res-item{
    background: rgba(0,0,0,0.1);
    padding: 5px 10px;
    margin: 10px;
    transition: 0.1s;
}
.res-item.active,.res-item.active:hover{
    background: rgba(207, 204, 25, 0.2);
}
.res-item:hover{
    background: rgba(0,0,0,0.3)
}
.content{
    padding: 20px 30px;
    color: #fff;
    width: 70%;
}
.content-title{
    font-size: 60px;
    color: #fff;
}
.content-info{
    font-size: 20px;
}
.resurces{
    margin-top: 20px;
    width: 100%;
}
.component{
    color: #fff;
    background: linear-gradient(to right, rgba(231, 227, 6, 0.24) 0%, rgba(0, 0, 0, 0.219) 100%);
    padding: 10px 20px;
    font-family: Arial;
    margin-bottom: 5px;
    position: relative;
    margin-left: 47px;
    border-left: 3px solid #fff;
    transition: 0.2s;
}
.c1{
    position: relative;
    font-size: 20px;
    margin-top: 5px;
    background: linear-gradient(to right, rgba(86, 158, 68, 0.2) 0%, rgba(0, 0, 0, 0.219) 100%);
}
.c1::before{
    content: '';
    display: block;
    position: absolute;
    left: -50px;
    top: calc(50% - 1.5px);
    width: 50px;
    height: 3px;
    background: #fff;
}
.c1::after{
    content: '';
    display: block;
    position: absolute;
    left: -50px;
    top: -5px;
    width: 3px;
    height: calc(100% + 5px);
    background: #fff;
}
.c1:last-child::after{
    height: calc(50% + 5px);
}
.c2{
    margin-top: 10px;
    font-size: 16px;
    background: rgba(0,0,0,0.2);
}
.c3{
    margin-top: 10px;
    font-size: 14px;
    background: rgba(0,0,0,0.2);
}
.c4{
    font-size: 12px;
    margin-left: 200px;
}
.main-component{
    font-size: 30px;
    margin-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s;
}
a{
    cursor: pointer;
}
.sidebar-search{
    padding: 10px;
    padding-right: 25px;
    width: 100%;
    display: flex;
}
.search-input{
    border: none;
    width: 100%;
    display: block;
    padding: 10px 10px;
    font-family: Arial;
    font-size: 20px;
    background: rgb(255, 255, 255);
}
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
}
.calcs{
    background: rgba(0,0,0,0.3);
    margin-top: 25px;
    padding: 15px;
    font-family: Arial;
}
.calc-body{
    padding: 15px;
    background: rgba(84, 85, 10, 0.3);
}
.calc-title{
    font-size: 30px;
    font-family: Arial;
    margin-bottom: 5px;
}
.calc-input-wrapper{
    margin-bottom: 15px;
}
.input-title{
    margin-bottom: 5px;
}
.total{
    font-size: 25px;
}
.calc-input{
    border: none;
    background: rgba(0,0,0,0.3);
    padding: 10px;
    display: block;
    font-size: 18px;
    color: #fff;
    margin-bottom: 5px;
}
